<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Store | REGISTERVALID</title>
    <!-- Bundle -->
    <link rel="stylesheet" th:href="@{/asserts/css/bundle.min.css}">
    <!-- Plugin Css -->
    <link rel="stylesheet" th:href="@{/asserts/css/jquery.fancybox.min.css}">
    <link rel="stylesheet" th:href="@{/asserts/css/nouislider.min.css}">
    <link rel="stylesheet" th:href="@{/asserts/css/swiper.min.css}">
    <link rel="stylesheet" th:href="@{/asserts/css/cubeportfolio.min.css}">
    <link rel="stylesheet" th:href="@{/asserts/css/wow.css}">
    <link rel="stylesheet" th:href="@{/asserts/css/lineicons.css}">
    <link rel="stylesheet" th:href="@{/asserts/css/nouislider.min.css}">
    <link rel="stylesheet" th:href="@{/asserts/css/range-slider.css}">
    <link rel="stylesheet" th:href="@{/asserts/css/owl.carousel.min.css}">
    <!-- Slider Setting Css  -->
    <link rel="stylesheet" th:href="@{/asserts/css/settings.css}">
    <!-- Mega Menu  -->
    <link rel="stylesheet" th:href="@{/asserts/css/megamenu.css}">
    <!-- StyleSheet  -->
    <link rel="stylesheet" th:href="@{/asserts/css/style.css}">
    <!-- Custom Css  -->
    <link rel="stylesheet" th:href="@{/asserts/css/custom.css}">

</head>
<body>
<!--LOADER-->
<div class="loader">
    <div class="loader-spinner"></div>
</div>
<!--LOADER-->
<div th:replace="~{commons/navbar :: otherBar}"></div>
<div class="homer-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center text-center text-lg-left">
                <div class="banner-description">
                    <div id="registerValid" class="animated fadeInLeft delay-1s">
                        <div class="alert alert-info text-center" role="alert">
                            由此發送信件至信箱，點擊信箱中信件開始註冊
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">用戶信箱</label>
                            <input type="email" v-model="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                       <span id="msg">{{msg}}</span>
                        <div class="text-right">
                            <button type="submit" @Click="onsubmit" class="btn green-color-yellow-gradient-btn  border-radius">SUBMIT</button>
                        </div>
                   </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--footer1 sec start-->
<div th:replace="~{commons/navbar ::footer}"></div>
<!--foo0ter1 sec end-->
<script>
    function countDown(){
        const Toast = Swal.mixin({
            position: 'center',
        })
        Toast.fire({
            icon: 'success',
            title: '發送成功，請於您的信箱中確認'
        }).then(function () {
            location.href="/books/index";
        })
    }

    window.onload=function () {
        let vm = new Vue({
            el: "#registerValid",
            data: {
                msg: "",
                email: "",
            },
            methods: {
                onsubmit: function () {
                    axios({
                        method: "POST",
                        url: "/books/sendValidationEmailForRegister",
                        params: {
                            email: vm.email,
                        }
                    }).then(function (value) {
                        if (value.data.code == 200){
                          countDown();
                        }else {
                            $("#msg").removeClass("color-green color-danger").next("i").remove();
                            let msg = value.data.data.msg
                            vm.msg = msg;
                            let icon = $("<i></i>").addClass("color-danger fa-solid fa-circle-exclamation")
                            $("#msg").addClass("color-danger").after(icon)
                        }
                    }).catch(function (reason) {

                    })
                }
            }
        })
    }
</script>
<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.15/dist/sweetalert2.all.min.js"></script>
<script src="/books/asserts/js/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="/books/asserts/js/bundle.min.js"></script>
<!-- Plugin Js -->
<script src="/books/asserts/js/jquery.fancybox.min.js"></script>
<script src="/books/asserts/js/owl.carousel.min.js"></script>
<script src="/books/asserts/js/swiper.min.js"></script>
<script src="/books/asserts/js/jquery.cubeportfolio.min.js"></script>
<script src="/books/asserts/js/wow.min.js"></script>
<script src="/books/asserts/js/bootstrap-input-spinner.js"></script>
<script src="/books/asserts/js/parallaxie.min.js"></script>
<script src="/books/asserts/js/stickyfill.min.js"></script>
<script src="/books/asserts/js/nouislider.min.js"></script>

<script src="/books/asserts/js/jquery.themepunch.tools.min.js"></script>
<script src="/books/asserts/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="/books/asserts/js/revolution.extension.actions.min.js"></script>
<script src="/books/asserts/js/revolution.extension.carousel.min.js"></script>
<script src="/books/asserts/js/revolution.extension.kenburn.min.js"></script>
<script src="/books/asserts/js/revolution.extension.layeranimation.min.js"></script>
<script src="/books/asserts/js/revolution.extension.migration.min.js"></script>
<script src="/books/asserts/js/revolution.extension.migration.min.js"></script>
<script src="/books/asserts/js/revolution.extension.parallax.min.js"></script>
<script src="/books/asserts/js/revolution.extension.slideanims.min.js"></script>
<script src="/books/asserts/js/revolution.extension.video.min.js"></script>
<script src="https://kit.fontawesome.com/b27d937124.js" crossorigin="anonymous"></script>
<!-- Custom Script -->
<script src="/books/asserts/js/script.js"></script>
</body>
</html>